.tBox {
    max-width: 375px;
    margin: 0 auto;
    padding: 1rem;
}

.tBox .form-group {
  padding: 5px 0;
}

.tResultsBox {
    max-width: 375px;
    margin: 0 auto;
    padding: 1rem;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  